.btn {
    background-color:#00A6CE;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .item-btn {
    width: 200px;
    height: 60px;
  }
  
  .items {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  
  .plus-minus-btn {
    background-color: #0ccebe;
    padding: 10px;
    border: none;
    width: 50px;
    height: 50px;
  }
  
  .navigation {
    padding: 10px;
    background-color: #151518;
    color: aliceblue;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }